kubecostModel:
  containerStatsEnabled: true
  etlCloudAsset: true # set to true to enable kubecost to include out-of-cluster cloud resources  (uses more memory)
kubecostProductConfigs:
  # grafanaURL: http://grafana.apps.openshiftapps.com/

# if enabling network costs, also set the given cloud provider to true
networkCosts:
  enabled: true
  config:
    services:
      amazon-web-services: false
      google-cloud-services: false
      azure-cloud-services: false

# optional
global:
  grafana:
    enabled: true
    proxy: true

# not required:
prometheus:
  nodeExporter:
    enabled: false
  kubeStateMetrics:
    enabled: false
  kube-state-metrics:
    disabled: true
